/* stylelint-disable color-function-notation */
.information {
  padding-bottom: 140px;
  background-color: #f4f5f5;

  &__text {
    grid-column: 5 span;

    @include small-tablet {
      grid-column: 2 span;
    }

    @include mobile {
      display: flex;
      justify-content: center;
      grid-column: 4 span;
      margin-bottom: var(--offset);
      text-align: center;
    }
  }

  &__title {
    margin: 0;
    max-width: 94%;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 31px;
    line-height: 38px;
    letter-spacing: 0.04em;
    color: var(--dark-color);

    @include small-tablet {
      font-size: 22px;
      line-height: 32px;
    }
  }

  &__list {
    display: grid;
    grid-column: 7 / 6 span;
    grid-template-columns: repeat(6, 1fr);
    gap: 36px 48px;

    @include small-tablet {
      grid-column: 3 / 4 span;
    }

    @include mobile {
      grid-column: 4 span;
    }
  }

  &__item {
    grid-column: 3 span;

    @include small-mobile {
      grid-column: 6 span;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--dark-color);
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: rgba(var(--text-color), 0.8);
  }

  @include mobile {
    padding-bottom: 60px;
  }
}
