/* stylelint-disable color-function-notation */
.partners {
  padding: 16px 0;

  &__container {
    align-items: center;
    gap: 6px;

    @include big-desktop {
      justify-content: space-between;
    }

    @include tablet {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 12px;

    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(var(--text-color), 0.6);
  }

  &__link {
    &:focus {
      outline: none;
    }

    &.focus-visible {
      outline: 1px solid var(--active-color);
      outline-offset: 3px;
    }
  }

  &__logo {
    @include big-desktop {
      max-width: 130px;
    }
  }

  &__more {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(var(--text-color), 0.6);
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: none;
    }

    @include hover {
      color: var(--accent-color);
    }

    /* stylelint-disable-next-line order/order */
    &:active {
      color: var(--active-color);
    }

    &.focus-visible {
      outline: 1px solid var(--active-color);
      outline-offset: 3px;
    }
  }
}
